.NoticeDvi{
	width: 100%;
	height: 75vh;
}

.NoticeItems {
	margin-right: 76.5%;
	margin-top:3vh;
	margin-bottom: 10px;
	padding : 0px;
}

.NoticeContent{
	width: 100%;
	height: 75vh;
}

.noticeTable {
	width: 50vw;
	border: 1px solid gray;
	border-collapse: separate;
	border-radius: 5px;
	font-size: larger;
	margin-top:0px;
	margin-left: 3vw;
	margin-bottom: 2vh;
}


.noticeTableTh{
	border : 1px solid gray;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 5px;
	padding: 10px;
	background-color: #0665A9;
	color: white;
}

.noticeTableTd{
	padding : 0px;
	border : 1px solid gray;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-radius: 5px;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #f6f6f6;
}

.contentColumnName {
	background-color: beige;
}

#contentContent {
	height: 200px;
	white-space: pre-wrap;
	overflow-y: scroll;
}

#scroll_box {
	max-height: 350px;
}

a { text-decoration:none }

.noticeSearchBtn{
	background-color: #0665A9;
	border-radius: 3px;
	border : 1px solid #0665A9;
	font-family: 메이플스토리;
	font-size: large;
	width: 3vw;
	height: 3vh;
	margin-left: 1vw;
	color: white;
}

.noticeRentBtn{
	background-color: #f6f6f6;
	color: blue;
	border : 1px solid #f6f6f6;
	font-family: 메이플스토리;
	font-size: large;
	margin-bottom: 0px;
	width: 95%;
}

.noticeLostBtn{
	background-color: #f6f6f6;
	color: red;
	border : 1px solid #f6f6f6;
	font-family: 메이플스토리;
	font-size: large;
	margin-bottom: 0px;
	width: 95%;
}

input{
	border : 1px solid gray;
	border-radius: 3px;
	height: 3vh;
	width: 10vw;
	margin-left: 4vw;
}

.adminNoticeSearchBtn{
	background-color: #0665A9;
	border-radius: 3px;
	border : 1px solid #0665A9;
	font-family: 메이플스토리;
	font-size: large;
	width: 3vw;
	height: 3vh;
	margin-left: 1vw;
	color: white;
}

.adminNoticeWriteBtn{
	background-color: #0665A9;
	border-radius: 3px;
	border : 1px solid #0665A9;
	font-family: 메이플스토리;
	font-size: large;
	width: 4vw;
	height: 3vh;
	margin-left: 1vw;
	margin-bottom: 2vh;
	color: white;
}

/* paging */
.paging {
	overflow: hidden;
	position: relative;
	min-height: 27px;
	margin-top: 20px;
	padding: 4px 0;
	text-align: center;
}

.paging img {
	vertical-align: top;
}

.paging span,
.paging a {
	display: inline-block;
	width: 27px;
	height: 27px;
	font-weight: 600;
	line-height: 27px;
	text-align: center;
	vertical-align: top;
}

.paging span.tp {
	color: #fff;
}

.paging a:hover,
.paging a:focus,
.paging a:active {
	background-color: #f5f5f5;
}

.paging .btn-paging {
	width: 25px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #e1e1e1;
}

.paging .btn-paging.first {
	background-position: 0 0;
}

.paging .btn-paging.prev {
	margin-right: 5px;
	background-position: 0 -25px;
}

.paging .btn-paging.next {
	margin-left: 5px;
	background-position: 0 -50px;
}

.paging .btn-paging.last {
	background-position: 0 -75px;
}

.paging .btn {
	position: absolute;
	bottom: 0;
	right: 0;
}

#btnSearch,
.paging span.tp {
	border-color: #005bab !important;
	background-color: #005bab;
	color: white;
}

.paging a:visited {
	color: #000;
}