.BookApplyDiv{
	display: grid;
	place-items: center;
}


.BookApplyTable {
	width: 50vw;
	margin : 5%;
	border: 1px solid gray;
	border-radius: 5px;
	font-size: larger;
}

.BookApplyTh{
	border : 1px solid gray;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 5px;
	padding: 10px;
	background-color: #0665A9;
	color: white;
}

.BookApplyTd{
	padding : 0px;
	border : 1px solid gray;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-radius: 5px;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #f6f6f6;
}

.BookApplyTable input{
	width: 99%;
	height: 4vh;
	border: 1px solid gray;
	margin : 0px;
	border-radius: 5px;
}

.BookApplyA{
	text-decoration: none;
}
.ApplyFontBold{
	font-weight: bold;
}

.hidden-col { display: none; }