.MsgDiv{
	display: grid;
	place-items: center;
}


.MsgTable {
	width: 80%;
	border-collapse: collapse;
	border: 1px solid black;
	margin : 5%;
}

.MsgTh{
	border: 1px solid black;
	padding: 10px;
	background-color: #0665A9;
	color: white;
}

.MsgTd{
	border: 1px solid black;
	padding: 10px;
}

.MsgA{
	text-decoration: none;
}

.MsgBtn{
	width: 50px;
	color: red;
	background:none;
	border :none;
}