.MessageDetailDiv{
	display: grid;
	place-items: center;
}


.MessageDetailTable {
	width: 80%;
	border-collapse: collapse;
	border: 1px solid black;
	margin : 5%;
}

.MessageDetailTh{
	border: 1px solid black;
	padding: 10px;
	background-color: #0665A9;
	color: white;
}

.MessageDetailTd{
	border: 1px solid black;
	padding: 10px;
}

.MessageDetailA{
	text-decoration: none;
}
.font-bold{
	font-weight: bold;
}