.header {
	/* background-color: #0665A9; */
	background-color: #f6f6f6
;	height: 10vh;
	text-align: center;
	border: 1px solid gray;
	border-top:none;
	border-left:none;
	border-right:none;
}

.headerNav {
	background-color: #0665A9;
	height: 5vh;
	text-align: center;

}

nav {
	float: right;
}

h1 {
	display: inline-block;
	vertical-align: middle;
	color: white;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.logoImg {
	text-decoration: none;
	color: black;
	font-size: larger;
	float: left;
	margin-left: 50%;
	margin-top: 2%;
	/* margin-left: 5vw; */
	
}

.link {
	text-decoration: none;
	color: white;
	display: block;
	text-align: center;
	margin: .25rem;
	padding: .5rem 1rem;
	font-weight: bold;
}

.chatBox {
	position: absolute;
	width: 10%;
	z-index: 2;
	margin-left: 90%;
	margin-top: 1.5%;
}


.chatBtn button {
	border-radius: 7px;
	background-color: black;
	width: 7vw;
	height: 4vh;
	border : 1px solid black;
	font-family: 메이플스토리;
	font-size: larger;
	color: white;

}

.chatRoom {
	margin-left: -70%;
	margin-top:7%;
	width: 16.5vw;
	height: 50vh;
	
}

.chatRoomView {
	border: 2px solid gray;
	border-radius: 7px;
	height: 60.7vh;
	background-color: #f6f6f6;
}

.chatRoomType>textarea {
	float: left;
	width: 80.5%;
	resize: none;
	border: none;
}

.chatRoomType{
	margin-top: 1.5px;
	border: 2px solid gray;
	border-radius: 7px;
	background-color: #257bb7;
	height: 15%;
}

.chatRoomType input {
	width: 60%;
	height: 3vh;
	margin-left: 0px;
	margin-top: 2vh;
	background-color: #f6f6f6;
	color: black;
	border-radius: 5px;
	border: 1px solid black;
}

.chatRoomType button {
	width: 20%;
	height: 3.5vh;
	margin-left: 1vw;
	background-color: #f6f6f6;
	color: black;
	border-radius: 5px;
	border: 1px solid black;
}

.chatUl {
	display: block;
}

.chatContentView {
	height: 100%;
	overflow: auto;
}

.sideBar {
	float: left;
	padding-left: 10vw;
	height: 64.8vh;
	background-color:white;
	width: 200px;
	z-index: 1;
	/* opacity: 0.6; */
	text-align: center;
	border-right: none;
}

.sideBar A{
	text-decoration: none;
	color: black;
	font-size :larger;
	font-family: 메이플스토리; 
	position: relative;
}

.sideBarLi1{
	border: 1px dotted gray;
	border-left: none;
	border-right: none;
	border-bottom: none;
	margin-bottom: 1vh;
}

.sideBarLi2{
	border: 1px dotted gray;
	border-left: none;
	border-right: none;
	padding-bottom: 1vh;
}

.menuTitle{
	/* border: 1px solid #257bb7; */
	border: 3px solid #0665A9;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-radius: 7px;
	height: 10vh;
	margin-top: 2.1vh;
	margin-bottom: 5vh;
	/* background-color: #257bb7; */
	background-color: #f6f6f6;
	color: black;
	font-size : 30px;
	font-family: 메이플스토리; 
	justify-content: center;
	align-items: center;
	display: flex;
}

.userNav>ul {
	display: inline;
}

.userNav>ul>li {
	padding-top: 5%;
}

.adminNav>ul {
	display: inline;
}

.adminNav>ul>li {
	padding-top: 5%;
}
