.joinPage {
	margin: 10%;
	border: 1px solid black;
	padding: 2%;
}

.joinInput {
	padding-bottom: 1%;

<<<<<<< HEAD
=======
}

.postApi{
	display: block;
	padding-left: 37%;
>>>>>>> 1cf60aaa5a5e71b0fe2525eac10d7da10d4ef327
}