.mainPage{
	width: 100%;
	height: 75vh;
}

.mainTop{
	width: 100%;
	height: 40vh;
	border : 1px dotted gray;
	border-left: none;
	border-right: none;
	border-top : none;
}

.mainBottom{
	width: 100%;
	height: 30vh;
	border: 1px dotted black;
	border: none;
	margin-top:2vh;
}

.mainLeftBottom{
	float: left;
	width: 50%;
	height: 100%;

}

.mainRightBottom{
	width: 50%;
	height: 100%;
	margin-left:50%;
}

.searchBookBoxInput{
	text-align: center;
	margin-bottom: 10px;
}

.searchBookBoxInput input{
	height: 4vh;
	width: 30vw;
	font-size: 20px;
	font-family: 메이플스토리;
	color: gray;
}

.searchBookBox{
	width: 650px;
	height: 35vh;
	margin: auto;
	margin-top: 20px;
	overflow: auto;
}
.searchedBookList{
	border: 1px solid black;
	width: 100%;
	border-collapse: collapse;
	border-left: 0;
	border-right: 0;

}
.searchedBookListTr{
	background-color: beige;
	border-bottom: 1px solid black;
}
.searchedBookListTr>a{
	color: black;
}
.searchedBookListTr>a>td{
	width: 200px;
}

.searchedBookListTr img{
	transition: all 0.2s linear;
}

.searchedBookListTr:hover img{
	background-color: gray;
	transform: scale(2.0);
}