.AdminBookHope{
    display: grid;
    place-items: center;
}

.AdminBookHopeTable{
    width: 65%;
	border-collapse: collapse;
	border-top: 1px solid #444444;
}

.AdminBookHopeTableHead{
    background-color: beige;
	height: 75px;
}

.bookHopeButton{
    background-color:skyblue;
    color:white;
    border:none;
    padding: 10px 20px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    margin:4px 2px;
    cursor:pointer;
    width:80px;
}

.bookHopeBtCc{
    background-color:red;
}

.bookHopeButton:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.bookStory {
    width: 300px;
    height: 150px;
    resize: none;
}